#credits
{
    background-color: black;
    opacity: 0;

    animation-name: opacity;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    color: white !important;
    text-align: center;
    font-size: 100%;

    line-height: calc(30px * var(--ui-scale));

    pointer-events: all;
}
#credits a 
{
    color: white;
}

#credits .container
{
    animation-name: margin;
    animation-duration: 60s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes margin
{
    0%{margin-top: 60%}
    100%{margin-top: -100%}
}

#credits .name
{
    font-size: 200%;
    margin-top: calc(100px * var(--ui-scale));
    line-height: calc(60px * var(--ui-scale));
}
