d3dcompiler_47.dll
ffmpeg.dll
icudtl.dat
jsconfig.json
libEGL.dll
resources.pak
v8_context_snapshot.bin
libGLESv2.dll
notification_helper.exe
nw.exe
nw.dll
node.dll
nw_100_percent.pak
nw_200_percent.pak
nw_elf.dll

output/
swiftshader/
versions/
locales/